# Basic Operations

**Problem Statements**

* Display the total count excluding headers
* Print the schema
* Print the column names
* Display top 5 records without truncating the data
* Select 'name, col_company as company_name' columns

## Create DataFrame by loading employee.csv

## Display Records

## Print the schema

## Print the column names

## Select 'name, col_company as company_name' columns

## Attach Custom Schema

# Filter Operations


## Filter all records matching the company name 'Cisco'

## Filter out all records whose designation is not 'other'.

## Filter and display all the records whose designation is 'Developer,R&D Engineer'

# Derive Column

**Problem Statement**
Generate a new column named 'category' and populate it based on the values in the 'experience' column? 

i. experience <=4  category='Junior' <br/>
ii. experience >=5 and experience<10 category="Mid Level" <br/>
iii, experience > 10 category = "Senior"<br/>

# Grouping, Aggregation and Sorting
<br/>
1. What is the total count for each category?<br/>
2. What is the minimum salary for each category?<br/>
3. What is the maximum salary for each category?<br/>